table thead{
    background-color: black;
    color: white;
}
body{
    background-image: url('https://images.pexels.com/photos/707344/pexels-photo-707344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.495);
}
h1{
    color: white;
}
table{
    border: 1px solid white;
}

table tbody{
background-color: transparent;
outline: none;
}
table tr{
    padding: 10px;
    font-size: 19px;
} 

table input{
    padding: 5px;
    outline: none;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 20px;
}

table thead button{
    width: 40px;
    height: 30px;
    display: block;
    font-size: 18px;
    line-height: 17px;
    background-color: black;
    color: white;
    border: 1px solid white;
}
.table tbody button{
    transition: all 0.5s;
    
}

table tbody button:hover{
    background-color: red!important;
    color: white;
}
